picking-flow.json
[
    {
        "id": "ae45f2cbf5df9a1f",
        "type": "tab",
        "label": "pickingv2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0de06912847e889f",
        "type": "group",
        "z": "ae45f2cbf5df9a1f",
        "name": "login: faz requisição com as informações do operador para tentar login",
        "style": {
            "label": true
        },
        "nodes": [
            "1511ac037e335352",
            "0d47e7594de4f15b",
            "13b6c57e87c42fbc",
            "6f5934461a791e09"
        ],
        "x": 54,
        "y": 219,
        "w": 512,
        "h": 122
    },
    {
        "id": "ad9c02e207160b06",
        "type": "group",
        "z": "ae45f2cbf5df9a1f",
        "name": "carregar_tabela_op: carrega a tabela de OPs e produtos da página de contagem",
        "style": {
            "label": true
        },
        "nodes": [
            "93b4b7f9aeceb3db",
            "1c993cc0ec72ade2",
            "b8a2280c43a4bc96",
            "9860ab64a3c60901"
        ],
        "x": 54,
        "y": 59,
        "w": 509,
        "h": 122
    },
    {
        "id": "2905a85f8ebace9c",
        "type": "uibuilder",
        "z": "ae45f2cbf5df9a1f",
        "name": "",
        "topic": "",
        "url": "pickingv2",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "iife-blank-client",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "7.0.4",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://fileC:\\Users\\masilva\\.node-red\\uibuilder/pickingv2/?windowId=_blank",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "de961e6a8e40f126"
            ],
            []
        ]
    },
    {
        "id": "93b4b7f9aeceb3db",
        "type": "change",
        "z": "ae45f2cbf5df9a1f",
        "g": "ad9c02e207160b06",
        "name": "listar_qtd",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "listar_qtd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "2905a85f8ebace9c"
            ]
        ]
    },
    {
        "id": "1511ac037e335352",
        "type": "change",
        "z": "ae45f2cbf5df9a1f",
        "g": "0de06912847e889f",
        "name": "login",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "2905a85f8ebace9c"
            ]
        ]
    },
    {
        "id": "de961e6a8e40f126",
        "type": "switch",
        "z": "ae45f2cbf5df9a1f",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "carregar_tabela_op",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "login",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "d015aa2b301d4fae"
            ],
            [
                "3e58cd5009990d32"
            ]
        ]
    },
    {
        "id": "1c993cc0ec72ade2",
        "type": "http request",
        "z": "ae45f2cbf5df9a1f",
        "g": "ad9c02e207160b06",
        "name": "listaOPs",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.31:8061/rest/DATAWAKE_APIS_DIGITALIZACAO/api/v1/ordensProducao?centroCusto=11902&page=1&pagesize=85",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 100,
        "wires": [
            [
                "b8a2280c43a4bc96"
            ]
        ]
    },
    {
        "id": "b8a2280c43a4bc96",
        "type": "function",
        "z": "ae45f2cbf5df9a1f",
        "g": "ad9c02e207160b06",
        "name": "extraiProdutos",
        "func": "\nlet array_empenhos = [];\n\nmsg.payload.OPS.forEach(function(op) {\n    op.EMPENHOS.forEach(function(empenho) {\n        array_empenhos.push(\n            {\n                OP: op.OP,\n                RECURO: op.RECURSO,\n                PRODUTO:empenho.PRODUTOEMPENHO,\n                QUANTIDADE: empenho.QUANTIDADEEMPENHO\n            }\n        );\n    });\n});\n\nmsg.payload = array_empenhos;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "93b4b7f9aeceb3db"
            ]
        ]
    },
    {
        "id": "0d47e7594de4f15b",
        "type": "http request",
        "z": "ae45f2cbf5df9a1f",
        "g": "0de06912847e889f",
        "name": "fazLogin",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.62:1880/kanban/v1/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 260,
        "wires": [
            [
                "1511ac037e335352",
                "6f5934461a791e09"
            ]
        ]
    },
    {
        "id": "d015aa2b301d4fae",
        "type": "link out",
        "z": "ae45f2cbf5df9a1f",
        "name": "Link Topic Out: carregar_tela",
        "mode": "link",
        "links": [
            "9860ab64a3c60901"
        ],
        "x": 945,
        "y": 180,
        "wires": []
    },
    {
        "id": "9860ab64a3c60901",
        "type": "link in",
        "z": "ae45f2cbf5df9a1f",
        "g": "ad9c02e207160b06",
        "name": "Link Topic In: carregar_tela",
        "links": [
            "d015aa2b301d4fae"
        ],
        "x": 95,
        "y": 100,
        "wires": [
            [
                "1c993cc0ec72ade2"
            ]
        ]
    },
    {
        "id": "3e58cd5009990d32",
        "type": "link out",
        "z": "ae45f2cbf5df9a1f",
        "name": "Link Topic Out: login",
        "mode": "link",
        "links": [
            "13b6c57e87c42fbc"
        ],
        "x": 945,
        "y": 220,
        "wires": []
    },
    {
        "id": "13b6c57e87c42fbc",
        "type": "link in",
        "z": "ae45f2cbf5df9a1f",
        "g": "0de06912847e889f",
        "name": "Link Topic In: login",
        "links": [
            "3e58cd5009990d32"
        ],
        "x": 95,
        "y": 260,
        "wires": [
            [
                "0d47e7594de4f15b"
            ]
        ]
    },
    {
        "id": "6f5934461a791e09",
        "type": "debug",
        "z": "ae45f2cbf5df9a1f",
        "g": "0de06912847e889f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "a9d71d2fd03471d3",
        "type": "serial in",
        "z": "ae45f2cbf5df9a1f",
        "d": true,
        "name": "",
        "serial": "45d1b1362f6fed7e",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "269cfd843eecd901"
            ]
        ]
    },
    {
        "id": "269cfd843eecd901",
        "type": "change",
        "z": "ae45f2cbf5df9a1f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "balanca",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "2905a85f8ebace9c"
            ]
        ]
    },
    {
        "id": "45d1b1362f6fed7e",
        "type": "serial-port",
        "name": "",
        "serialport": "COM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]