picking-flow.json
[
    {
        "id": "ae45f2cbf5df9a1f",
        "type": "tab",
        "label": "pickingv2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0de06912847e889f",
        "type": "group",
        "z": "ae45f2cbf5df9a1f",
        "name": "login: faz requisição com as informações do operador para tentar login",
        "style": {
            "label": true
        },
        "nodes": [
            "1511ac037e335352",
            "0d47e7594de4f15b",
            "13b6c57e87c42fbc"
        ],
        "x": 54,
        "y": 219,
        "w": 492,
        "h": 82
    },
    {
        "id": "ad9c02e207160b06",
        "type": "group",
        "z": "ae45f2cbf5df9a1f",
        "name": "carregar_tabela_op: carrega a tabela de OPs e produtos da página de contagem",
        "style": {
            "label": true
        },
        "nodes": [
            "93b4b7f9aeceb3db",
            "1c993cc0ec72ade2",
            "b8a2280c43a4bc96",
            "9860ab64a3c60901",
            "d89b90a1a0cdb877",
            "e17d65d1630a152a"
        ],
        "x": 54,
        "y": -21,
        "w": 509,
        "h": 202
    },
    {
        "id": "2905a85f8ebace9c",
        "type": "uibuilder",
        "z": "ae45f2cbf5df9a1f",
        "name": "",
        "topic": "",
        "url": "pickingv2",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "iife-blank-client",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "7.0.4",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://fileC:\\Users\\masilva\\.node-red\\uibuilder/pickingv2/?windowId=_blank",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "de961e6a8e40f126"
            ],
            []
        ]
    },
    {
        "id": "93b4b7f9aeceb3db",
        "type": "change",
        "z": "ae45f2cbf5df9a1f",
        "g": "ad9c02e207160b06",
        "name": "listar_qtd",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "listar_qtd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "2905a85f8ebace9c"
            ]
        ]
    },
    {
        "id": "1511ac037e335352",
        "type": "change",
        "z": "ae45f2cbf5df9a1f",
        "g": "0de06912847e889f",
        "name": "login",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "2905a85f8ebace9c"
            ]
        ]
    },
    {
        "id": "de961e6a8e40f126",
        "type": "switch",
        "z": "ae45f2cbf5df9a1f",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "carregar_tabela_op",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "login",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "0cb9aa2fc599b347"
            ],
            [
                "3e58cd5009990d32"
            ]
        ]
    },
    {
        "id": "1c993cc0ec72ade2",
        "type": "http request",
        "z": "ae45f2cbf5df9a1f",
        "g": "ad9c02e207160b06",
        "name": "listaOPs",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.31:8061/rest/DATAWAKE_APIS_DIGITALIZACAO/api/v1/ordensProducao?centroCusto=11902&page=1&pagesize=85&previsaoTermino={{dataTermino}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 100,
        "wires": [
            [
                "b8a2280c43a4bc96",
                "d89b90a1a0cdb877"
            ]
        ]
    },
    {
        "id": "b8a2280c43a4bc96",
        "type": "function",
        "z": "ae45f2cbf5df9a1f",
        "g": "ad9c02e207160b06",
        "name": "extraiProdutos",
        "func": "let array_empenhos = [];\n\nmsg.payload.OPS.forEach(function(op) {\n    op.EMPENHOS.forEach(function(empenho) {\n        array_empenhos.push(\n            {\n                OP: op.OP,\n                PA: op.PRODUTO,\n                RECURSO: op.RECURSO,\n                PRODUTO: empenho.PRODUTOEMPENHO,\n                QUANTIDADE: empenho.QUANTIDADEEMPENHO,\n                PREVISAOINICIO: `${op.PREVISAOINICIO[6]}${op.PREVISAOINICIO[7]}/${op.PREVISAOINICIO[4]}${op.PREVISAOINICIO[5]}/${op.PREVISAOINICIO[0]}${op.PREVISAOINICIO[1]}${op.PREVISAOINICIO[2]}${op.PREVISAOINICIO[3]}`\n            }\n        );\n    });\n});\n\nmsg.payload = array_empenhos;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "93b4b7f9aeceb3db"
            ]
        ]
    },
    {
        "id": "0d47e7594de4f15b",
        "type": "http request",
        "z": "ae45f2cbf5df9a1f",
        "g": "0de06912847e889f",
        "name": "fazLogin",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.62:1880/kanban/v1/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 260,
        "wires": [
            [
                "1511ac037e335352"
            ]
        ]
    },
    {
        "id": "d015aa2b301d4fae",
        "type": "link out",
        "z": "ae45f2cbf5df9a1f",
        "name": "Link Topic Out: carregar_tela",
        "mode": "link",
        "links": [
            "9860ab64a3c60901"
        ],
        "x": 1175,
        "y": 160,
        "wires": []
    },
    {
        "id": "9860ab64a3c60901",
        "type": "link in",
        "z": "ae45f2cbf5df9a1f",
        "g": "ad9c02e207160b06",
        "name": "Link Topic In: carregar_tela",
        "links": [
            "d015aa2b301d4fae"
        ],
        "x": 95,
        "y": 100,
        "wires": [
            [
                "1c993cc0ec72ade2",
                "e17d65d1630a152a"
            ]
        ]
    },
    {
        "id": "3e58cd5009990d32",
        "type": "link out",
        "z": "ae45f2cbf5df9a1f",
        "name": "Link Topic Out: login",
        "mode": "link",
        "links": [
            "13b6c57e87c42fbc"
        ],
        "x": 935,
        "y": 220,
        "wires": []
    },
    {
        "id": "13b6c57e87c42fbc",
        "type": "link in",
        "z": "ae45f2cbf5df9a1f",
        "g": "0de06912847e889f",
        "name": "Link Topic In: login",
        "links": [
            "3e58cd5009990d32"
        ],
        "x": 95,
        "y": 260,
        "wires": [
            [
                "0d47e7594de4f15b"
            ]
        ]
    },
    {
        "id": "a9d71d2fd03471d3",
        "type": "serial in",
        "z": "ae45f2cbf5df9a1f",
        "d": true,
        "name": "",
        "serial": "45d1b1362f6fed7e",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "269cfd843eecd901"
            ]
        ]
    },
    {
        "id": "269cfd843eecd901",
        "type": "change",
        "z": "ae45f2cbf5df9a1f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "balanca",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "2905a85f8ebace9c"
            ]
        ]
    },
    {
        "id": "0fa72eb392038713",
        "type": "http in",
        "z": "ae45f2cbf5df9a1f",
        "name": "",
        "url": "/pstprnt",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "6887db15facf2f9c",
                "9f36704573a025db"
            ]
        ]
    },
    {
        "id": "6887db15facf2f9c",
        "type": "debug",
        "z": "ae45f2cbf5df9a1f",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "9f36704573a025db",
        "type": "http request",
        "z": "ae45f2cbf5df9a1f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://72.0.0.253/pstprnt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d89b90a1a0cdb877",
        "type": "debug",
        "z": "ae45f2cbf5df9a1f",
        "g": "ad9c02e207160b06",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 20,
        "wires": []
    },
    {
        "id": "0cb9aa2fc599b347",
        "type": "function",
        "z": "ae45f2cbf5df9a1f",
        "name": "formataPrevisaoTermino",
        "func": "const hoje = new Date();\nconst amanha = new Date(hoje);\namanha.setDate(hoje.getUTCDate() + 1);\n\nlet diaAmanha = \"\";\nlet mesAmanha = \"\";\nlet anoAmanha = amanha.getUTCFullYear();\n\ndiaAmanha = amanha.getUTCDate() >= 0 && amanha.getUTCDate() <= 9 ? `0${amanha.getUTCDate()}` : amanha.getUTCDate();\nmesAmanha = amanha.getUTCMonth() >= 0 && amanha.getUTCMonth() <= 9 ? `0${amanha.getUTCMonth() + 1}` : amanha.getUTCMonth() + 1;\n\nconst previsaoTermino = `${anoAmanha}${mesAmanha}${diaAmanha}`;\n\nmsg.dataTermino = previsaoTermino;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "d015aa2b301d4fae",
                "264a355889a6be6e"
            ]
        ]
    },
    {
        "id": "264a355889a6be6e",
        "type": "debug",
        "z": "ae45f2cbf5df9a1f",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "e17d65d1630a152a",
        "type": "debug",
        "z": "ae45f2cbf5df9a1f",
        "d": true,
        "g": "ad9c02e207160b06",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "45d1b1362f6fed7e",
        "type": "serial-port",
        "name": "",
        "serialport": "COM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]